:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-dark-blue: #090c1b;
    --color-lighter-blue: #153c6b;
    --color-mantis: #7ac142;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 13em);
}

.container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

/* Search Section */

.search {
    min-height: 30rem;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search__body {
    padding-top: 2rem;
    text-align: center;
}

.search__title {
    text-align: center;
    color: var(--color-white);
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.search__form {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 1.5rem;
}

.search__input {
    border: none;
    width: 100%;
    max-width: 45rem;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    padding: 1.2rem;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search__input::placeholder {
    font-size: 1.3rem;
}

@media (min-width: 62em) {
    .search__input::placeholder {
        font-size: 1.5rem;
    }
}

.search__btn {
    border: none;
    background-color: var(--color-lighter-blue);
    padding: 1.5rem 1.2rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.search__btn:hover {
    background-color: var(--color-dark-blue);
}

.search__btn:hover .search__btn-icon {
    fill: var(--color-white);
}

.search__btn-icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-mantis);
    transition: all .3s ease-in-out;
}

/* Search details */

.search-details {
    position: absolute;
    top: 17rem;
    z-index: 1;
    width: 100%;
}

@media (min-width: 48em) {
    .search-details {
        top: 21rem;
    }
}

.search-details__body {
    width: 29rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-lighter-blue);
    color: var(--color-mantis);
    border-radius: 15px;
    filter: drop-shadow(0 0 0.75rem var(--color-black, 0.4));
    text-align: center;
    border: 2px solid var(--color-mantis);
    margin: 0 auto;
    padding: 1.2rem 0;
}

@media (min-width: 25em) {
    .search-details__body {
        width: 35rem;
    }
}

@media (min-width: 32em) {
    .search-details__body {
        width: 47rem;
    }
}

@media (min-width: 48em) {
    .search-details__body {
        flex-direction: row;
        width: 100%;
    }
}

@media (min-width: 62em) {
    .search-details__body {
        padding: 0rem 0;
    }
}

.search-details__item {
    margin-bottom: 1.5rem;
}

@media (min-width: 48em) {
    .search-details__item {
        flex: 1 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 62em) {
    .search-details__item {
        flex: 1 0 25%;
        max-width: 25%;
        min-height: 12rem;
        position: relative;
        margin-bottom: 0rem;
        padding: 2% 2vw;
    }

    .search-details__item:not(:last-child)::after {
        content: "";
        position: absolute;
        width: 1px;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        border-left: 1px solid var(--color-mantis);
    }
}

.search-details__item:last-child {
    margin-bottom: 0rem;
}

.search-details__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
    color: var(--color-white);
}

@media (min-width: 62em) {
    .search-details__title {
        margin-bottom: 1.5rem;
    }
}

.search-details__subtitle {
    font-size: 1.8rem;
}

@media (min-width: 75em) {
    .search-details__subtitle {
        font-size: 2.2rem;
    }
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.leaflet-container {
    background-color: transparent;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
